{% extends "base.html" %}

{% block content %}
<div>
    <div id="url" data-url="{% url 'items:buy-order' order.id %}"></div>
    <h1>Заказ</h1>
    {% for order_item in order.items.all %}
        <h2>{{ order_item.name }}</h2>
        <p>Описание: {{ order_item.description }}</p>
        <div>Цена: {{ order_item.price }}</div>
    {% endfor %}
    <button id="buy-button">Buy</button>
</div>
{% endblock %}

{% block javascript %}
<script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript">
    var stripe = Stripe('pk_test_a9nwZVa5O7b0xz3lxl318KSU00x1L9ZWsF')
    var buyButton = document.getElementById('buy-button')
    var url = document.getElementById('url').dataset.url
    buyButton.addEventListener('click', function() {
        fetch(url, {method: 'GET'})
        .then(response => response.json())
        .then(session => stripe.redirectToCheckout({ sessionId: session.id }))
    });
</script>
{% endblock %}